# Virtual env
.venv/
venv/
__pycache__/
*.pyc

# Git / IDE
.git/
.gitignore
.idea/
.vscode/
.devcontainer/

# OS
Thumbs.db
desktop.ini

# Data & Training Artifacts
data/
data_cleaning_reports/
notebooks/
runs/
models/

# Outputs
*.png
*.json

# YOLO training weights
*.pt
!yolov8n.pt
