# AI & Computer Vision
ultralytics
opencv-python-headless
torch
torchvision
tensorflow
scikit-learn

# Data Handling & Math
pandas
numpy
matplotlib
seaborn

# Dataset Management
roboflow

# Backend & Dashboard
fastapi
uvicorn
streamlit